<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%=link_to "Opendata api", root_path, class:"btn btn-primary m-1" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%=link_to "Data table", streams_path, class:"btn btn-primary m-1" %>
        </li>
        <li class="nav-item">
          <%=link_to "Add entry", new_stream_path, class:"btn btn-primary m-1" %>
        </li>
      </ul>
    </div>
  </div>
</nav>